.landing-page{
    position: relative; 
    margin-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 20px;
}

.divider-line{
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.page-title{
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.product-card{
    margin: 0px !important;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 25%;
}

.card-tile{
    margin: 5px;
    height: 450px;
}

.alignleft {
	float: left;
}
.alignleft b {
    fontSize: '16px';
}

.alignright {
	float: right;
}

.textcontainer{
    width:60%;
    /* top:6%; */
    left:18%;
    margin-top: -270px;
}
