.box{
    display: flex;
    flex-grow: 1;
}
Typography {
    color: inherit;
    margin: 5px 14px 2px;
    font-family: "Mulish";
    font-size: 0.5rem !important;
}
.grid-container{
    position: sticky;
    width : 100% !important;
    height: 20%;
    margin-top: 0px !important; 
    margin-left: 0px !important; 
    background-color: #000000;
    color: white
}
.first{
    padding-bottom: 40px;
    padding-top: 40px;
}
.footer-title{
    margin:40px 0 0 80px !important
}
.follow-icons{
    padding-top: 10px;
}
.second{
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}
